/*
Banner Image: https://i2.wp.com/sell.cratejoy.com/wp-content/uploads/2016/10/packaging.jpg?resize=815%2C489&ssl=1
*/
.banner-container-about {
	height: 20rem;
	width: 100%;
	max-width: 100%;
	background-image: url("../img/about.jpg");
	background-size: cover;
	background-position: center;
}

.project-image-container {
	height: 30rem;
	width: 100%;
	max-width: 100%;
}

@media (min-width: 53em) {

	.banner-container-about {
		height: 45rem;
	}
}