/*
Banner Image: https://i2.wp.com/sell.cratejoy.com/wp-content/uploads/2016/10/packaging.jpg?resize=815%2C489&ssl=1
*/

.banner-container-project-1 {
	height: 15rem;
	width: 100%;
	max-width: 100%;
	background-image: url("../img/project1-1.png");
	background-size: cover;
	background-position: center;
}

.project-image-container {
	height: auto;
	width: 100%;
	max-width: 100%;
}

.wrapper {
	padding: 0 10%;
}

@media (min-width: 53em) {

	.wrapper {
		padding: 0 25%;
	}

	.banner-container-project-1 {
		height: 40rem;
	}
}