
.banner-container-project-1 {
	height: 15rem;
	width: 100%;
	max-width: 100%;
	background-image: url("../img/project1-1.png");
	background-size: cover;
	background-position: center;
}

.banner-container-project-2 {
	height: 15rem;
	width: 100%;
	max-width: 100%;
	background-image: url("../img/project2-1.png");
	background-size: cover;
	background-position: center;
}

.banner-container-project-3 {
	height: 15rem;
	width: 100%;
	max-width: 100%;
	background-image: url("../img/project3-1.png");
	background-size: cover;
	background-position: center;
}

.banner-container-project-4 {
	height: 15rem;
	width: 100%;
	max-width: 100%;
	background-image: url("../img/project4-1.png");
	background-size: cover;
	background-position: center;
}

.project-image-container {
	height: auto;
	width: 100%;
	max-width: 100%;
}

.intro-text-spacer-left {
	padding-right: 0rem;
}

.intro-text-spacer-right {
	padding-left: 0rem;
}

@media (min-width: 50em) {

	.wrapper {
		padding: 0 25%;
	}

	.wide-wrapper {
		padding: 0 15%
	}

	.intro-text-spacer-left {
		padding-right: 1rem;
	}

	.intro-text-spacer-right {
		padding-left: 1rem;
	}

	.banner-container-project-1 {
		height: 40rem;
	}

	.banner-container-project-2 {
		height: 40rem;
	}

	.banner-container-project-3 {
		height: 40rem;
	}

	.banner-container-project-4 {
		height: 40rem;
	}
}